<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CadastroDeUsuarios.DAL.Properties.Settings.str_conexao"
            connectionString="Data Source=JAILTON-PC;Initial Catalog=Cadastro;Persist Security Info=True;User ID=sa;Password=citrix"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>